
.crm-webform-body{
  margin-top:-25px;
}
.crm-webform-header-container{
    background:#1452AB;
    color:#fff;
}
/*.crm-webform-label-content{
    opacity:0.3;
}*/
.data-bx-form-popup-cont{
  margin-bottom:-12px;
}
.crm-webform-label-content{
   background: #1452AB;
   color:#fff;
}
.crm-webform-iframe{
   background: #1452AB;
   color:#fff;
}
#bx_form_iframe_8{
    margin-bottom:-85px;
    
}
.col-sm-12{
    background: #1452AB;
    color:#fff;
}
.crm-webform-header{
   color:#fff;
}
.crm-webform-label{
  color:#fff;
}
.row{
    margin-bottom:-7px;
}
.crm-webform-input{
    color:#fff;
}